/* Main Structure */

html{
	padding:0;
	margin:0;
	height:100%;
}
body{
	padding:0;
	margin:0;	
	background-image:url('/img/background.png');
	height:100%;
	font-family:franklin-gothic-urw;
	font-size:16px;
}
h1,h2,h3{
	margin:0 0 0.4em;
	font-family: franklin-gothic-urw-cond;
	font-weight: normal;
	color: #ed1b23;
}
h1{
	font-size:26px;
} 
h2{
	font-size:19px;
}
h3{
	font-family: franklin-gothic-urw;
	font-weight:bold;
	font-size:17px;
}
h3.feature{
	margin-top:.3em;
}
p{
	margin-top:0;
	margin-bottom:.5em;
	line-height:1.4em;
}
a{
	text-decoration:underline;
	color:#00aaff;
	font-weight:bold;
}
a.readmore:after{
	content: " \00BB";
}
.wrapper{
	width:980px;
	min-height:100%;
	margin:0 auto -73px;
	background-color:white;
}
.container{
	width:940px;
	padding:0;
	margin:20px auto;
	position:relative;
}
.container:last-child{
	padding-bottom:53px;
}
#header{
	width:980px;
	padding:0;
	margin:0 auto;
	height:194px;
}
#footer{
	width:980px;
	background-color:#111;
	height:53px;
	padding:0;
	margin:0 auto;
}

#header ul{
	margin:0;
	padding:0;
	position:absolute;
	bottom:0;
	left:0;
	height:45px;
	width:100%;
	overflow:hidden;
}
#header ul li{
	position:relative;
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	height:45px;
	width:163.333333px; /* width = 980/number of list elements */
}
a.nav-link{
	display:block;
	color:white;
	width:100%;
	height:45px;
	line-height:45px;
	text-align:center;
	text-decoration:none;
	font-weight:normal;
	background-color:#ddd;
	background-image:url('/img/navsprite.png');
	background-repeat:no-repeat;
	background-position:0 0;
	vertical-align:bottom;
	border-left:1px solid black;
	transition: color .2s;
}
#header ul li:first-child a.nav-link{
	border-left:0;
}
a.nav-link:hover{
	color:#00aaff;
	background-position:0 -45px;
}
#footer ul{
	position:relative;
	margin:0;
	padding:0;
	height:53px;
}
#footer ul li{
	position:relative;
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	height:53px;
	width:140px;
}
a.foot-link{
	position:absolute;
	display:block;
	bottom:0;
	height:53px;
	line-height:53px;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	color:white;
	width:100%;
	background-color:#111;
	transition:color .2s;
}
a.foot-link span{
	color:red;
	font-weight:bold;
	transition: color .2s;
}
a.foot-link:hover{
	color:#00aaff;
}
a.foot-link:hover span{
	color:white;
}

ul.suc {
	font-weight:bold;
	color: #00cc22;
}

ul.err {
	font-weight:bold;
	color: #cc0000;
}

/* Utility Classes */
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.hl-red{
	color: #ED1C24;
}
.hl-green{
	color: #00a000;
}
.hl-blue{
	color: #00aaff;
}
.hl-gray{
	color:#333;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.text-center{
	text-align:center;
}
.push-right{
	position:absolute;
	top:4px;
	right:5px;
}
div.img-feat-crop{
	height:116px;
	width:270px;
	overflow:hidden;	
}

.box{
	min-height:125px;
	width:270px;
	padding:15px;
	margin:10px;
	background:#d9d9d9;
	transition: background-color .5s
}
.box-link{
	cursor:pointer
}
.box-short{
	min-height:75px;
}
.box p{
	font-size:14px;
}
.box-thin{
	width:260px;
}
.box-light{
	background-color:#eee;
}
.box:hover{
	background:#eee;
}
.box-light:hover{
	background-color:#d9d9d9;
}
.tooltip {
	display:inline-block;
	border-bottom: 1px dotted black;
	line-height:1.1em;
}


/* Home Page */
.home-col1{
	display:inline-block;
	vertical-align:top;
	width:620px;
	margin-right:20px;
}
.home-col2{
	display:inline-block;
	vertical-align:top;
	width:300px;
}
.home-col1 .home-box, .home-col2 .home-box{
	margin:0;
	background-color:#eee;
	margin-bottom:20px;
}
.home-col1 .home-box{
	background-color:#eee;
	width:600px;
	padding:10px;
}
.home-col2 .home-box{
	background-color:#d9d9d9;
	width:270px;
	padding:15px;
}
#imgslider{
	width:600px;
	height:380px;
	display:block;
}
#imgslider .panel-panel{
	position:relative;
}
#imgslider .caption{
	position:absolute;
	top:0;
	left:0;
	width:580px;
	padding:10px 10px;
	background-color:rgba(255,255,255,0.7);
}
#imgslider .caption.caption-bottom{
	top:auto;
	bottom:0;
}

/* Showcase */
#all_projects{
	position:relative;
	width:960px;
	margin:0 -10px;
}
div.img-showcase-crop{
	height:140px;
	width:270px;
	overflow:hidden;
	background-position:center center;
}
.student_project.Art h4{
	color: #00aaff;
}
.student_project.Architecture h4{
	color: #ED1C24;
}
.student_project.Engineering h4{
	color: #00a000;
}

ul.navlist{
	padding:0;
	margin:0;
}
ul.navlist li{
	position:relative;
	font-size:12px;
	font-weight:bold;
	width:190px;
	list-style:none;
	border-bottom:1px solid #aaa;
	margin:0;
	padding:0;
	background-color:#eee;
}
ul.navlist li.ul-head{
	padding:4px 10px;
	width:170px;
	background-color:white;
	font-size:14px;
	color: #333;
}
ul.navlist li.ul-head:first-child{
	border-top:0;
}
ul.navlist label{
	display:block;
	padding:6px 10px;
}
ul.navlist label:hover, ul.navlist input:hover{
	background-color:#ddd;
	cursor:pointer;
}


/* Statement Page */

.statement{
	padding:20px;
	margin:30px auto;
	background-color:#eee;
	margin-bottom:20px;
	width:580px;
}

/* Support Page */

.support{
	padding:0;
	margin:30px auto 20px;
	margin-bottom:20px;
	width:620px;
}
.support-box{
	background-color:#eee;
	padding:20px;
	margin:20px auto;
}
.support h2{
	color: #00a0f0;
}

/* Featured Page */

#feat-col1, #feat-col2{
	vertical-align:top;
	display:inline-block;
	padding:0;
	margin:0 0 20px 0;
}
#feat-col1{
	width:600px;
	padding-right:20px;
	border-right:2px solid #aaa;
}
#feat-col2{
	width:298px;
	margin-left:20px;
}
#all_featured{
	width:640px;
	margin:0 -10px;
	border:0;
	padding:0;
}
.box.Events h2{
	color:#00a000;
}


.trunc{
	height:66px;
	line-height:22px;
	overflow:hidden;
}

ul.alumni{
	background-color:#d9d9d9;
	padding: 14px 20px;
	border-top:1px solid #aaa;
}
ul.alumni li{
	list-style-type:none;
	padding:6px 0;
}
ul.alumni .alumniName{
	font-size:19px;
	color:#00aaff;
	font-family:franklin-gothic-urw-cond;
	font-weight:bold;
}
ul.alumni span{
	font-size:14px;
}

/* Experiences page */

#all_experiences{
	margin:20px -10px;
}

.testimonial_input {
	width:270px;
	height:180px;
	resize: none;
	padding:4px;
	margin: -5px;
}

.login-box {
	height:auto;
	min-height:0;
	margin:0;
}

/* Project page */

.singleProjectTitle {
	color: green;
}

.projectSchool {
	float: right;
	margin-top: -30px;
}

.projectMainContent {
	padding: 20px;
	position: relative;
	margin: auto;
	margin-top: 20px;
	width: 700px;
	background-color: #F0F0F0;
}

.projectImage {
	position: relative;
	left: 50%;
	margin-left: -270px;

}

.projectDescription {
}

.suggestedProjectContent {
	margin: auto;
	margin-top: 20px;
	margin-left: -20px;
	position: relative;
	width: 980px;
	height: 340px;

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: gray;

	background-color: #F0F0F0;

}

.suggestedProject {
	position:relative;
	float: left;
	padding: 20px;
	margin: 20px 0px 20px 20px;
	width: 250px;
	height: 220px;
	background-color: #d9d9d9;
}

.similarProjectTitle {
	padding-top: 20px;
	position: relative;
	left: 50%;
	margin-left: -140px;
}

.suggestedProjectImage {
	width: 250px;
	height: 100px;
	padding-bottom: 10px;
}

.suggestedProjectDescription {
	font-size: 13px;
}


.imageContainer {
	width: 250px;
	height: 120px;
	overflow: hidden;
}

/* New Project */

.addrow,.delrow {
	cursor:pointer;
}